*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;

}

body{

background:linear-gradient(#d9fdd3,#98d87b);

min-height:100vh;

}


/* HEADER */

header{

background:#166534;

color:white;

padding:20px;

text-align:center;

position:relative;

}

.volver{

position:absolute;

left:20px;

top:25px;

background:white;

color:#166534;

padding:10px 18px;

border-radius:10px;

text-decoration:none;

font-weight:bold;

}

header h1{

font-size:45px;

}

header h2{

margin-top:10px;

}



/* INFORMACIÓN */

.informacion{

display:flex;

justify-content:center;

gap:30px;

padding:25px;

}

.caja{

background:#166534;

color:white;

width:240px;

padding:20px;

border-radius:15px;

text-align:center;

box-shadow:0 5px 10px rgba(0,0,0,.2);

}

.caja h3{

margin-top:10px;

font-size:30px;

}

.barra{

height:18px;

background:white;

border-radius:20px;

margin-top:15px;

overflow:hidden;

}

.relleno{

width:10%;

height:100%;

background:#7CFC00;

}



/* ZONA JUEGO */

.zonaJuego{

text-align:center;

margin-top:30px;

}

.zonaJuego h2{

margin-bottom:30px;

color:#1e3a1e;

}

#residuo{

width:180px;

height:180px;

margin:auto;

background:white;

border-radius:25px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

font-size:90px;

box-shadow:0 10px 20px rgba(0,0,0,.2);

cursor:grab;

transition:.3s;

}

#residuo:hover{

transform:scale(1.05);

}

#residuo p{

font-size:20px;

margin-top:10px;

}



/* TACHOS */

.tachos{

display:flex;

justify-content:center;

gap:80px;

margin-top:60px;

}

.tacho{

display:flex;

flex-direction:column;

align-items:center;

cursor:pointer;

transition:.3s;

}

.tacho:hover{

transform:translateY(-10px);

}

.tapa{

width:170px;

height:22px;

border-radius:12px;

}

.cuerpo{

width:150px;

height:190px;

border-radius:10px 10px 25px 25px;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

font-size:60px;

font-weight:bold;

color:white;

}

.verde .tapa,
.verde .cuerpo{

background:#2E7D32;

}

.azul .tapa,
.azul .cuerpo{

background:#1565C0;

}

.amarillo .tapa,
.amarillo .cuerpo{

background:#F9A825;

}

.cuerpo p{

font-size:18px;

margin-top:15px;

text-align:center;

padding:5px;

}

.ruedas{

display:flex;

justify-content:space-between;

width:150px;

margin-top:-5px;

}

.ruedas div{

width:18px;

height:18px;

background:#333;

border-radius:50%;

}



/* FOOTER */

footer{

margin:50px auto;

width:650px;

background:#166534;

color:white;

padding:18px;

border-radius:15px;

text-align:center;

font-size:18px;

}

/* ========================= */
/* ANIMACIÓN DE ERROR */
/* ========================= */

.shake{

    animation: sacudir .5s;

}

@keyframes sacudir{

    0%{
        transform: translateX(0);
    }

    20%{
        transform: translateX(-10px);
    }

    40%{
        transform: translateX(10px);
    }

    60%{
        transform: translateX(-10px);
    }

    80%{
        transform: translateX(10px);
    }

    100%{
        transform: translateX(0);
    }

}
.error{

    background:#d32f2f !important;

    transition:.3s;

}